<!-- Categorical selection and form submission -->
<div class="panel">
  <form action="#">
    <h4>First, select which category you'd like to receive a joke from</h4>
    <div class="form-group">
      <label for="cat_select">Category</label>
      <select name="" id="cat_select" class="form-control">
        <option value="{{ cat }}" *ngFor="let cat of categories">{{ cat }}</option>
      </select>
    </div>
    <h4>Then simply press submit!</h4>
    <button class="btn btn-primary" (click)="submitJokeRequest($event)">Submit</button>
  </form>
</div>
