<div class="container-fluid">
  <div class="row">
    <app-about></app-about>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
        <app-selection></app-selection>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
        <app-output></app-output>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
        <app-credits></app-credits>
      </div>
    </div>
  </div>
</div>
